.main_container {
    display: flex;
    justify-content: flex-start;
    border: 2px solid whitesmoke;
    padding-left: 2%;
}

body {
    border: 5px solid whitesmoke;
    padding: 5%;
    background-color: black;
    color: white;
}
.education {
display: flex;
width: 100%;
padding-left: 2%;
}

.cert {
display:flex;
width: 99%;
border-top: 2px solid whitesmoke;
padding-left: 2%;

}
.proEx {
    border: 2px solid whitesmoke;
padding-left: 2%;
}

.skills {
display:flex;
width: 50%;
border: 2px solid whitesmoke;
padding-left: 2%;
}

.mainbox {
    display:flex;
    border: 2px solid whitesmoke;
}

.leftbox {
    width: 50%;
}